.App {
  text-align: center;
  font-family: "Inter";
}

.nav-bar {
  background-color: #F55A5A;
  width: 100%;
  height: 55px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.nav-image {
  width: 24px;
  height: 24px;
  justify-self: center;
  margin: auto;
  margin-right: 3px;
}
.nav-text{
  color: white;
  margin: auto;
  margin-left: 3px;
}